@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		color: theme('colors.darkblue.900');
	}
	h1 {
		font-weight: theme('fontWeight.extrabold');
	}
	button {
		display: inline-flex;
		align-items: center;
		gap: theme('space.2');
	}
}
